[general]
name: DoubanBot
batch_concurrency: 5
watch_freq: 2
loop_sleep: 20
admins: tsing@jabber.org

[api]
key: the_api_key
secret: the_api_secret
server: api.douban.com

[auth]
url: http://labs.geowhy.org/bot/auth
callback: http://labs.geowhy.org/bot/callback
timeout: 30

[database]
db: mysql://doubanbot:doubanbot@localhost/doubanbot

[xmpp]
jid: douban@jabber.org/DoubanBot
pass: password
